body{
	margin: 0;
	margin-top: 20px;
	font-size: 18px;
	background-image: url("imagens/fundo.jpg");
	background-size: cover;
	background-attachment: fixed;
}

header{
	text-align: center;
	border-radius: 47px;
	background: #000000;
	box-shadow:  5px 5px 2px #FF4500,
				-5px -5px 2px #FF4500;
}

.conteiner{
	display: flex;
	justify-content: row;
	column-gap: 8em;
	margin: 1px 10px;
}

section{
	width: 40em;
	height: auto;
	border-radius: 47px;
	background: #3c3c3c;
	box-shadow:  5px 5px 2px #FF4500,
				-5px -5px 2px #FF4500;
	background-blend-mode: overlay;
	background-color: rgba(0,0,0, 0.9);
}

article{
	border-radius: 47px;
	background: #3c3c3c;
	box-shadow:  5px 5px 10px #222222;
	margin: 10px 240px;
}

aside{
	width: 10em;
	height: auto;
	padding: 190px 0px;
	border-radius: 47px;
	background: #000000;
	box-shadow:  5px 5px 2px #FF4500,
				-5px -5px 2px #FF4500;
}

footer{
	padding: 3px auto;
	border-radius: 47px;
	background: #FF4500;
	box-shadow:  5px 5px 10px #222222;
	text-align: center;
	margin-bottom: 0px;
	color: black;
}


.nav1{
	text-align: center;
	border-radius: 47px;
	background: #000000;
	box-shadow:  5px 5px 2px #FF4500,
				-5px -5px 2px #FF4500;
	width: 10em;
	height: auto;
}








/*fontes */
h1{
	color: #FF0000;
	text-shadow: 2px -2px 8px #FF4500;
	Font-family: helvetica;
	font-size: 50px;
	margin: 0;
	text-align: center;
}

h2{
	color: #FF4500;
	text-shadow: 2px -2px 3px #000000;
	Font-family: helvetica;
	font-size: 25px;
	text-align: center;
}

h3{
	color: #FF4500;
	text-shadow: 2px -2px 3px #000000;
	Font-family: helvetica;
	font-size: 17px;
	text-align: center;
}

h5{
	color: #FF4500;
	Font-family: helvetica;
	text-align: center;
	font-size: 10px;
}







/*tabela*/

.titulo{
	background-color: #3c3c3c;
	border-radius: 41px;
	box-shadow: inset -27px 27px 54px #232323;
	text-align: center;
	margin: 0px 200px;
	margin-top: 40px;
}

.pe_menu{
	background-color: #3c3c3c;
	border-radius: 41px;
	box-shadow: inset -27px 27px 54px #232323;
	margin: 0px 240px;
}

#tab{
	border-spacing: 0px;
	margin: auto;	
	background-color: #3c3c3c;
}

#tab td{
	border: 1px solid black;
	padding: 4px 12px;
	text-align: center;
}

#tab caption{
	border: 1px solid black;
	padding: 4px 12px;
	text-align: center;
}

.dif{
	border-radius: 0px;
	background: #545454;
	box-shadow: inset 9px 9px 5px #3e3e3e,
            inset -9px -9px 5px #6a6a6a;
}

caption{
	background-color: #3c3c3c;
}









/*menu nav*/

.menu ul{
	list-style: none;
	margin-top: 50px;
	padding: 0px;
	justify-content: right;
	background-color: #000000;
}

.menu li{
	margin: 0px 10px;
}

.menu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #FF4500;
}

.menu li a:hover{
	border-radius: 5px;
	background-color: whitesmoke;
}









