body{
	margin: 0;
	font-size: 18px;
	background-image: url("imagens/fundo.jpg");
	background-size: cover;
	background-attachment: fixed;
}

header{
	padding: 1px 100px;
	background-color: #000000;
}

.conteiner{
	display: flex;
	justify-content: inline;
	justify-content: space-between;
}

article{
	display: flex;
	background-color: #3c3c3c;
	background-blend-mode: overlay;
	background-color: rgba(155,155,155, 0.75);
	padding: 20px 150px;
	width: 140em;
	height: auto;
}

aside{
	padding-top: 50px;
	background-color: #3c3c3c;
	background-blend-mode: overlay;
	background-color: rgba(55,55,55, 1);
	width: 50em;
	height: auto;
}

footer{
	padding: 3px auto;
	background-color: #FF4500;
	text-align: center;
	margin-bottom: 0px;
}
hr {
	color:#FF4500;
  	margin-top: 0em;
  	margin-bottom: 0em;
  	border-style: solid;
  	border-width: 1px;
}






/*fontes */
h1{
	color: #FF0000;
	text-shadow: 2px -2px 8px #FF4500;
	Font-family: helvetica;
	font-size: 50px;
	margin: 0;
	text-align: center;
}
h2{
	color: #FF4500;
	text-shadow: 2px -2px 3px #000000;
	Font-family: helvetica;
	font-size: 25px;
	text-align: center;
}
h3{
	color: #FF4500;
	text-shadow: 2px -2px 3px #000000;
	Font-family: helvetica;
	font-size: 17px;
	text-align: center;
}





/*menu nav*/

.menu ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: right;
	background-color: #000000;
	margin-bottom: 0px	;

}

.menu li{
	margin: 0px 10px;
}
.menu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	color: #FF4500;
}

.menu li a:hover{
	border-radius: 5px;
	background-color: whitesmoke;
}
